* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  background-color: #000000;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.ul {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
}

.nav {
  color: none;
  padding: 2rem;
}

img {
  transform: scale(100%);
  transition: 1s;
}

img:hover {
  transform: scale(120%);
  transition: all 1s;
}

.navbar-light .navbar-nav .nav-link {
  transform: scale(100%);
  transition: 1s;
  color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #70f16b;
  transform: scale(110%);
  transition: all 1s;
}

.estilo_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
  gap: 20px;
}

.nav__item {
  margin-left: 16px;
}

.estilo_enlace {
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.estilo_enlace:hover {
  color: #70f16b;
}

.seccion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9ea5a3;
  min-height: 1000px;
  align-items: center;
}

.stock_remeras {
  transform: scale(100%);
  transition: 1s;
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  text-align: center;
}

.stock_remeras:hover {
  cursor: pointer;
  transform: scale(130%);
  transition: all 1s;
}

.contenedor {
  display: flex;
  gap: 100px;
}

.border {
  margin: 10px;
  border: solid;
  color: #cabdbd60;
  border-radius: 10px;
  transform: scale(100%);
  transition: 1s;
  color: #c2c960;
  box-shadow: 1px 1px 0px 0px;
  transition: all 0.5s;
}

.border:hover {
  transform: scale(108%);
  transition: all 1s;
}

.name {
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: bisque;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  transform: scale(100%);
  transition: 1s;
  margin: 50px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.name:hover {
  color: white;
  cursor: pointer;
  transform: scale(130%);
  transition: all 1s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.precio {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  border-radius: 10px;
  margin: 25px;
  transform: scale(100%);
  transition: 1s;
  color: bisque;
  font-size: 25px;
  border: solid #000000;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.precio:hover {
  cursor: pointer;
  color: white;
  box-shadow: 1px 1px 2px 2px;
  transition: all 1s;
  transform: scale(115%);
  transition: all 1s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* remeras flotantes stock */
.background {
  transform: scale(100%);
  transition: 1s;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.background:hover {
  cursor: pointer;
  transform: scale(110%);
  transition: all 1s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.obtene_estilo {
  letter-spacing: 10px;
  word-spacing: 15px;
  padding-bottom: 15%;
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 20px;
  text-transform: uppercase;
  animation: float 3s linear infinite;
  transform: scale(100%);
  transition: 1s;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.obtene_estilo:hover {
  transform: scale(110%);
  transition: all 1s;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* Home */
.remera_flotante {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  transform: scale(100%);
  transition: 1s;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.metodos_pago_estilo {
  text-align: center;
  margin: 40px;
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 20px;
  text-transform: uppercase;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.img_buck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  cursor: pointer;
  bottom: 15px;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.contacto {
  margin: 20px;
  color: beige;
  background-color: #0c0c0c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
}

.ayuda {
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px;
  text-align: center;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 20px;
  text-transform: uppercase;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.hebi {
  cursor: pointer;
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px;
  text-align: center;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 20px;
  text-transform: uppercase;
  animation: float 3s linear infinite;
}

.hebi:hover {
  color: #70f16b;
  transition: 1s;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.p {
  margin: 20px;
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  height: 50px;
  gap: 300px;
  font-size: 16px;
  width: 100%;
  margin-top: auto;
}

h2 {
  cursor: pointer;
  transform: scale(100%);
  transition: 1s;
}

h2:hover {
  color: #70f16b;
  transform: scale(110%);
  transition: all 1s;
}

@media screen and (max-width: 600px) {
  .obtene_estilo {
    letter-spacing: 3px;
    word-spacing: 3px;
    padding-bottom: 20%;
    text-align: center;
    font-size: 55px;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
  }
  .background {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .background:hover {
    transform: perspective(50%);
    transition: all 1s;
  }
  .border {
    margin: none;
    display: flex;
    height: 200px;
    width: 180px;
    position: relative;
  }
  .stock_remeras {
    font-size: 36px;
    position: static;
  }
  .stock_remeras:hover {
    transform: scale(105%);
    transition: all 1s;
  }
  .name {
    text-align: center;
    position: absolute;
    bottom: 65%;
    left: 5%;
    transform: translate(-10%);
    font-size: 15px;
  }
  .name:hover {
    color: white;
    cursor: pointer;
    transform: scale(102%);
    transition: all 1s;
  }
  .precio {
    text-align: center;
    border: none;
    position: absolute;
    top: 78%;
    right: 1%;
    transform: translate(-90%, -10%);
    font-size: 15px;
  }
  .precio:hover {
    transform: scale(none);
    transition: all 1s;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 1px 1px;
    transition: all 1s;
  }
  .p {
    font-size: 15px;
  }
  .metodos_pago_estilo {
    text-align: center;
    left: 1%;
    font-size: 30px;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */