
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
     background-color: #000000;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
   
}

.ul {margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
}

.seccion1 {
    color: #9ea5a3;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nav{
color: none;
    padding: 2rem ;
}

img{transform: scale(100%);transition: 1s;}
img:hover{   transform: scale(120%);transition: all 1s;
}

.navbar-light .navbar-nav .nav-link {
    transform: scale(100%);transition: 1s;
    color: #000000;
}



.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(112, 241, 107);
    transform: scale(110%);transition: all 1s;
}


.estilo_nav{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
list-style: none;
display: flex;
flex-direction:row;
justify-content:space-between;
gap: 20px;
}

.nav__item {
    margin-left: 16px;
}

.estilo_enlace{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
.estilo_enlace:hover{
    color: rgba(14, 192, 29, 0.541);
}



/* STOCK */
.stock_remeras{
    transform: scale(100%);transition: 1s;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 40px ;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
 text-align: center;

}    

.stock_remeras:hover{    cursor: pointer;
    transform: scale(130%);transition: all 1s;}


/* stock */


/* contenedor remeras stock*/
.contenedor{
    display: flex;
    gap: 100px;
       
}

.border{
    margin: 10px;
    border: solid;color: #cabdbd60;
    border-radius: 10px;
transform: scale(100%);transition: 1s;}

.border:hover{
    transform: scale(108%);transition: all 1s;
    
}

    


/* nombre de las remeras stock*/
.name{
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    transform: scale(100%);transition: 1s;
    margin: 50px;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }

  }
  .name:hover{
    color: rgb(255, 255, 255);
      cursor: pointer;
    transform: scale(130%);transition: all 1s;
  }
  
  .precio{ 
      border-radius: 10px;
      margin: 25px;
      transform: scale(100%);transition: 1s;
      color:bisque;
      display: flex;
      justify-content: center;
    font-size: 25px;
    border: solid #000000;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
0% {
-webkit-filter: blur(12px);
      filter: blur(12px);
opacity: 0;
}
100% {
-webkit-filter: blur(0px);
      filter: blur(0px);
opacity: 1;
}
}
@keyframes text-focus-in {
0% {
-webkit-filter: blur(12px);
      filter: blur(12px);
opacity: 0;
}
100% {
-webkit-filter: blur(0px);
      filter: blur(0px);
opacity: 1;
}
}

.precio:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow:  1px 1px 2px 2px ;transition: all 1s;
    transform: scale(115%);transition: all 1s;
}



/* remeras flotantes stock */
.background{
    transform: scale(100%);transition: 1s;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
0% {
-webkit-filter: blur(12px);
      filter: blur(12px);
opacity: 0;
}
100% {
-webkit-filter: blur(0px);
      filter: blur(0px);
opacity: 1;
}
}
@keyframes text-focus-in {
0% {
-webkit-filter: blur(12px);
      filter: blur(12px);
opacity: 0;
}
100% {
-webkit-filter: blur(0px);
      filter: blur(0px);
opacity: 1;
}
}
.background:hover{ cursor: pointer;
    transform: scale(110%);transition: all 1s;
}



/* Home */

.obtene_estilo{
    letter-spacing: 10px;
    word-spacing:15px;
    padding-bottom:15%;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 70px ;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 20px;
    text-transform: uppercase;
    animation: float 3s linear infinite;
    transform: scale(100%);transition: 1s;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
0% {
-webkit-filter: blur(12px);
      filter: blur(12px);
opacity: 0;
}
100% {
-webkit-filter: blur(0px);
      filter: blur(0px);
opacity: 1;
}
}
@keyframes text-focus-in {
0% {
-webkit-filter: blur(12px);
      filter: blur(12px);
opacity: 0;
}
100% {
-webkit-filter: blur(0px);
      filter: blur(0px);
opacity: 1;
}
}
.obtene_estilo:hover{
    transform: scale(110%);transition: all 1s;
}

  

    /* Home */
    .remera_flotante{
        transform: scale(100%);transition: 1s;
        width: 300px;
        height: 300px;
        margin-top: 50px;
        flex-direction: row;
      justify-content: center;
      -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
  @-webkit-keyframes text-focus-in {
  0% {
  -webkit-filter: blur(12px);
        filter: blur(12px);
  opacity: 0;
  }
  100% {
  -webkit-filter: blur(0px);
        filter: blur(0px);
  opacity: 1;
  }
  }
  @keyframes text-focus-in {
  0% {
  -webkit-filter: blur(12px);
        filter: blur(12px);
  opacity: 0;
  }
  100% {
  -webkit-filter: blur(0px);
        filter: blur(0px);
  opacity: 1;
  }
  }
  


/* metodopago */

.metodos_pago_estilo{
    margin: 40px;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 40px ;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 20px;
    text-transform: uppercase;
    animation: float 3s linear infinite;
    
    }
    
    @keyframes float{
    0% , 100%{  
         transform: translateY(0px);}
    50%{
         transform: translateY(-20px);}
    
    }
/* MetodoPago */

/* metodopago */

.img_buck{
    bottom: 15px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    animation: float 3s linear infinite;
    
}

@keyframes float{
0% , 100%{  
     transform: translateY(0px);}
50%{
     transform: translateY(-20px);}

}


.contacto{
    margin: 20px;
    color: beige;
    background-color: rgb(12, 12, 12);
    text-transform:uppercase;
    font-weight: bold;
    font-size: 30px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
  
}

.ayuda{
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 20px;
    text-align: center;
    font-size: 35px ;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 20px;
    text-transform: uppercase;
    animation: float 3s linear infinite;

}

@keyframes float{
    0% , 100%{  
         transform: translateY(0px);}
50%{
         transform: translateY(-5px);}

}




.hebi{
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 20px;
    text-align: center;
    font-size: 35px ;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 20px;
    text-transform: uppercase;
    animation: float 3s linear infinite;


}

@keyframes float{
    0% , 100%{  
         transform: translateY(0px);}
50%{
         transform: translateY(-5px);}

}


.p{
    margin: 20px;
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}




.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:sienna;
    background-color:beige;
    display: flex;
    flex-direction:row;
   justify-content:center;
   height: 50px;
     gap: 300px;
    font-size: 16px;
    width:100%;
    margin-top: auto;
}


/* 
/* medida mobil  */
@media screen and (max-width: 600px){
.stock_remeras:hover{ transform: scale(105%);transition: all 1s;
}

.name:hover{   color: rgb(255, 255, 255);
    cursor: pointer;
  transform: scale(102%);transition: all 1s;

}

.background:hover{
    transform: scale(100%);transition: all 1s;
}


.obtene_estilo{
padding-bottom: 20%;
    text-align: center;
    font-size: 55px;


}

.contenedor{
    display: flex;
    flex-direction:column;

}

.background{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50%;
    top: 50%;

   transform: translate(-50% , -50%);

   

    
}

.border{
    margin:none;
    display: flex;
    height:200px;
    width: 180px;
    position: relative;

}


.stock_remeras{
    font-size: 36px;
    position: static;

}



.name{
    text-align: center;
    position: absolute;
    bottom: 65%;
    left: 5%;

    transform: translate(-10%);

    font-size: 15px;


}

.precio{
    text-align: center;
    border: none;
    position: absolute;
    top: 78%;
    right: 1%;
    transform: translate(-90% , -10%);
    font-size: 15px;

}
.precio:hover{
    transform: scale(100%);transition: all 1s;
       cursor: pointer;
       color: rgb(255, 255, 255);
       box-shadow: 1px 1px 1px 1px ;transition: all 1s; }
.p{
    font-size: 15px;
    
}
    

.metodos_pago_estilo{
    text-align: center;
    left: 1%;
    font-size: 30px;
    position: relative;
}

.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:sienna;
    background-color:beige;
    display: flex;
    flex-direction:row;
   justify-content:center;
   min-height: 100px;
     gap: 20px;
    font-size: 16px;
    width:100%;
    margin-top: auto;



}
}
