@mixin generarFlex ($direction ,$ejeprincipal , $ejesecundario ){
     display:flex;
     flex-direction: $direction;
     justify-content: $ejeprincipal;
     align-items: $ejesecundario;   
  }

.metodos_pago_estilo{
     text-align: center;
    margin: 40px;
    color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 40px ;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 20px;
    text-transform: uppercase;
    animation: float 3s linear infinite;
    
    }
    
    @keyframes float{
    0% , 100%{  
         transform: translateY(0px);}
    50%{
         transform: translateY(-20px);}
    
    }
    
.img_buck{
     @include generarFlex(row,center ,none );
     cursor: pointer;
    bottom: 15px;
    animation: float 3s linear infinite;  
}

@keyframes float{
0% , 100%{  
     transform: translateY(0px);}
50%{
     transform: translateY(-20px);}

}
