@mixin generarFlex ($direction ,$ejeprincipal , $ejesecundario ){
    display:flex;
    flex-direction: $direction;
    justify-content: $ejeprincipal;
    align-items: $ejesecundario;   
 }

.seccion1 {
    @include generarFlex( column , center , center);
    color: #9ea5a3;
    min-height: 1000px;
    align-items: center;
}